@model Contracts.Requests.lesson.LessonPageResponseModel

@{
    System.Diagnostics.Debug.Assert(Model.LessonByIdDto.SmallDescription != null, "Model.LessonByIdDto.SmallDescription != null");
    ViewBag.Title = Model.LessonByIdDto.SmallDescription;
    Layout = "_Layout";
}

<div id="lesson" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>@Model.LessonByIdDto.SmallDescription</h2>
                <img src="@Url.Content(Model.LessonByIdDto.LessonPhotoUrl)" class="img-responsive" alt="Изображение курса">
                <p>@Model.LessonByIdDto.Description</p>
                @if (!string.IsNullOrEmpty(Model.LessonByIdDto.VideoLink))
                {
                    @Html.Raw(Model.LessonByIdDto.VideoLink)
                }
            </div>
           <div class="col-md-4">
               <div class="sidebar">
                   <h3>Related Lessons</h3>
                   <ul>
                       @foreach (var lesson in Model.AllLessonsForSidebarDto)
                       {
                           <li><a asp-controller="Lesson" asp-action="Index" asp-route-id="@lesson.Id">@lesson.Description</a></li>
                       }
                   </ul>
               </div>
           </div>
        </div>
    </div>
</div>