@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Contracts.Requests.Home.GetIndex.GetCoursesResponseDto

@{
    // ViewBag.Title = "HOME";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Learn To Program - Education HTML Template</title>
    <!-- 

    Learn To Program Template 

    https://templatemo.com/tm-516-Learn To Program

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/templatemo-style.css">

</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

        <span class="spinner-rotate"></span>

    </div>
</section>

<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- LOGO TEXT HERE -->
            <a href="#" class="navbar-brand">Learn To Program</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">
                <li>
                    <a href="#team" class="smoothScroll">Препод</a>
                </li>
                <li>
                    <a href="#courses" class="smoothScroll">Уроки</a>
                </li>
                <li>
                    <a href="#about" class="smoothScroll">Начни Прямо Сейчас!</a>
                </li>
                <li>
                    <a href="#contact" class="smoothScroll">Контакты</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Check if user is authenticated -->
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a asp-controller="Auth" asp-action="Logout" class="smoothScroll">Выйти</a>
                    </li>

                    @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-controller="StudentStats" asp-action="Index" class="smoothScroll">Статы Студентов</a>
                        </li>
                        <li>
                            <a asp-controller="Feedback" asp-action="Index" class="smoothScroll">Обратная связь</a>
                        </li>
                    }

                    <li>
                        <a class="smoothScroll">@User.Identity.Name</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-controller="Auth" asp-action="Login" class="smoothScroll">Войти</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>

<!-- HOME -->
<section id="home">
    <div class="row">

        <div class="owl-carousel owl-theme home-slider">

            <div class="item item-first">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Learn To Program</h1>
                            <h3>Добро пожаловать!</h3>
                            <a href="#feature" class="section-btn btn btn-default smoothScroll">Дальше</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-second">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Разблокируй свой потенциал</h1>
                            <h3>
                                Начни свой путь в мир программирования уже сегодня и открой безграничные возможности.
                                Будь то создание приложений, веб-сайтов или инновационного программного обеспечения, программирование – это твой путь к инновациям.
                            </h3>
                            <a href="#courses" class="section-btn btn btn-default smoothScroll">Пройти курс</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-third">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Освой новые навыки</h1>
                            <h3>
                                Программирование дает тебе возможность превратить свои идеи в реальность.
                                С каждой строчкой кода ты получаешь силу создавать, решать проблемы и вносить изменения.
                                Сделай первый шаг к освоению новых навыков уже сегодня!
                            </h3>
                            <a href="#contact" class="section-btn btn btn-default smoothScroll">Давай поговорим</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-four">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h1>Преобрази свое будущее</h1>
                            <h3>
                                Программирование – это не только написание кода; это преобразование твоего будущего.
                                Будь то карьерный рост, раскрытие твоего творчества или решение сложных задач,
                                программирование – это ключ к светлому будущему.
                            </h3>
                            <a href="#contact" class="section-btn btn btn-default smoothScroll">Давай поговорим</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<!-- FEATURE -->
<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>01</span>
                    <h3>Базовый курс</h3>
                    <p>
                        Данный набор из 10 уроков даст вам базовый интродакшн в мире программирования. вы научитесь
                        писать свой первый код.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="feature-thumb">
                    <span>02</span>
                    <h3>Препод</h3>
                    <p>Данным сайтом владеет студент 3 курса института ИВМиИТ. Университета КФУ.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- TEAM -->
<section id="team">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Преподаватель<small>.Net developer</small></h2>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-3 col-sm-6 col-sm-offset-3">
                <div class="team-thumb">
                    <div class="team-image">
                        <img src="~/images/author-image1.jpg" class="img-responsive" alt="">
                    </div>
                    @* todo доставать себя из бд *@
                    <div class="team-info">
                        <h3>Булат Шарапов</h3>
                        <span>Education is the way</span>
                    </div>
                    <ul class="social-icon">
                        <li>
                            <a href="mailto:bulat.sharapow@gmail.com"><i class="fa fa-envelope"></i>bulat.sharapow@gmail.com</a>
                        </li>
                        <li>
                            <a href="https://t.me/your_telegram_handle">
                                <i class="fa fa-telegram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Courses -->
<section id="courses">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Доступные уроки <small>Первичное интро при обучении программированию</small></h2>
                </div>

                <div class="owl-carousel owl-theme owl-courses">
                    @foreach (var lesson in Model.Courses)
                    {
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <div class="courses-thumb">
                                    <div class="courses-top">
                                        <div class="courses-image">
                                            @* <img src="@lesson.LessonPhotoUrl" class="img-responsive" alt=""> *@
                                            <img src="@Url.Content(lesson.LessonPhotoUrl)" class="img-responsive" alt="Изображение курса">
                                        </div>
                                    </div>
                                    <div class="courses-detail">
                                        <h3>
                                            @* todo в бд добавить название каждого курса и отдельно выводить сначала нащвание, а потом дескрипшн *@
                                            <!-- Ссылка на страницу урока с передачей ID -->
                                            <a asp-controller="Lesson" asp-action="Index" asp-route-id="@lesson.Id">
                                                @lesson.SmallDescription
                                            </a>
                                        </h3>
                                        <p>@lesson.SmallDescription</p>
                                        @if (lesson.IsDone)
                                        {
                                            <p>Пройдено</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</section>

<!-- ABOUT -->
<section id="about">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="about-info">
                    <h2>Learn To Program</h2>
                    <div>
                        <h3>Начни новый этап своей жизни вместе с образовательным курсом от Learn To Program</h3>
                    </div>

                </div>
            </div>

            @* <div class="col-md-offset-1 col-md-4 col-sm-12"> *@
            @*     <div class="entry-form"> *@
            @*         <form action="#" method="post"> *@
            @*             <h2>Начни уже сегодня !</h2> *@
            @*             $1$ todo  перейти на страницу регистрации сдеать #1# *@
            @*             <button class="submit-btn form-control" id="form-submit">Зарегестрироваться</button> *@
            @*         </form> *@
            @*     </div> *@
            @* </div> *@

            <div class="col-md-offset-1 col-md-4 col-sm-12">
                <div class="entry-form">
                    <form action="#" method="post">
                        <h2>Начни уже сегодня!</h2>
                        <a href="@Url.Action("Register", "Auth")" class="btn btn-theme form-control">Зарегистрироваться</a>
                    </form>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- CONTACT -->
<section id="contact">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <form id="contact-form" role="form" action="@Url.Action("SubmitFeedback", "Home")" method="post">
                    <div class="section-title">
                        <h2>Окно для обратной связи</h2>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <input type="text" class="form-control" placeholder="Введите ваше полное имя" asp-for="FeedbackDto.FullName" required>

                        <input type="email" class="form-control" placeholder="Введите адрес электронной почты" asp-for="FeedbackDto.EmailAddress" required>

                        <textarea class="form-control" rows="6" placeholder="Опишите ваше сообщение" asp-for="FeedbackDto.UserMessage" required></textarea>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <input type="submit" class="form-control" value="Отправить сообщение">
                    </div>
                </form>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="contact-image">
                    <img src="~/images/contact-image.jpg" class="img-responsive" alt="Две улыбающиеся девушки">
                </div>
            </div>

        </div>
    </div>
</section>

<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Learn To Program</h2>
                    </div>
                    <address>
                        <p>Казань Деревня Универсиады<br>Тут все разработчики живут</p>
                    </address>

                    <div class="copyright-text">
                        <p>Права принадлежат мне</p>

                        <p>Шарапов Булат Алексеевич Автор</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Как связаться</h2>
                    </div>
                    <address>
                        <p>+7(952)-812-89-10</p>
                        <p>
                            <a href="mailto:bulat.sharapow@gmail.com">bulat.sharapow@gmail.com</a>
                        </p>
                    </address>

                    <div class="footer_menu">
                        <h2>Сcылочки</h2>
                        <ul>
                            <li>
                                <a href="https://ulearn.me/">Идейное вдоховение</a>
                            </li>
                            <li>
                                <a href="https://learn.microsoft.com/ru-ru/">Дока от майков по шарпу</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- SCRIPTS -->
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/smoothscroll.js"></script>
<script src="~/js/custom.js"></script>
</body>


</html>